@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,700;0,800;1,300;1,800&display=swap');

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;

  background-color: #363636;
  color: white;
  padding: 0;
  margin: 0;

}


body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  /*Höhe soll 100% des Viewports sein */
}

main {
  padding: 4rem;
}


* {
  padding: 0.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;
}


h1,
h2,
h3,
h4,
h5,
p {
  margin-bottom: 0.2em;
}

.masterhead,
#masterhead,
#masterhead:visited {
  font-size: 2.8rem;
  margin: 1rem;
}

.masterh2 {
  font-size: 1.2rem;
}

.navilink {
  color: white;
  text-decoration: none;
  padding: 0.8rem;
}

.navilink:hover,
.page-activ {
  background-color: #363636;

}

.bold {
  font-weight: 500;
}

.italic {
  font-style: italic;
}

.green {
  color: #b3ffc2;
}


.small {
  font-size: 0.8rem;
}

.link {
  color: #ccebff;
}

.link:hover,
.link:focus {
  text-decoration: none;
}

.link:visited {
  color: #e4c9ff;
}

header {
  background-color: #171717;
  margin: -1rem;
}

.flex {
  display: flex;
  flex-flow: row;
  align-items: center;
  flex-wrap: wrap;
}

footer {
  background-color: #171717;
  margin: -1rem;
  margin-top: auto;
}

/*End allgemein */


/*OLD */

/*
  #score,
  .highscore {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
  }
  
  
  
  #game {
    width: 600px;
    height: 300px;
    border: 2px solid black;
    margin: auto;
  }
  
  
  #dino {
    height: 75px;
    width: 75px;
    top: 225px;
    position: relative;
    background-image: url("https://github.com/kriscfoster/chrome-dino-game/blob/master/dino.png?raw=true");
    background-size: cover;
  }
  
  .dino-dies {
    background-color: red;
  }
  
  #blitz {
    width: 50px;
    height: 50px;
    position: relative;
    top: 175px;
    left: 550px;
    background-image: url("https://github.com/kriscfoster/chrome-dino-game/blob/master/rock.png?raw=true");
    background-size: cover;
    animation: blitz 1.33s infinite;
  }
  
  @keyframes blitz {
    0% {
      left: 550px;
    }
  
    100% {
      left: -50px;
    }
  }
  
  .jump-animation {
    animation: jump 0.5s;
  }
  
  @keyframes jump {
    0% {
      top: 225px;
    }
  
    50% {
      top: 75px;
    }
  
    75% {
      top: 75px;
    }
  
    100% {
      top: 225px;
    }
  }
  
  
  
  #background {
    position: absolute;
    width: 600px;
    height: 300px;
    background-image: url("https://github.com/kriscfoster/chrome-dino-game/blob/master/background.jpg?raw=true");
    background-size: cover;
    animation: moveBg 10.33s linear infinite;
  }
  */

/*End OLD */

.gametitle {
  text-align: center;
}

#score {
  text-align: center;
  color: white;
}

h1 {
  color: white;
  text-align: center;
}

#highscore {
  color: white;
  text-align: center;
}

#game {
  width: 600px;
  height: 300px;
  border: 2px solid black;
  margin: auto;
  background-image: url("https://lh3.googleusercontent.com/t8jzr310rC5obgwRHRljXVYqpVt_LwPzoBoBknYxU9QH4sDPlItjYN_IGNbDIaK6d89pVC7XxGM87-QypJ9CmgHXSA=w640-h400-e365-rj-sc0x00ffffff");
  background-size: cover;
  animation: moveBg 6.33s linear infinite;
}

#thor {
  height: 90px;
  width: 125px;
  top: 150px;
  position: relative;
  background-image: url("https://www.pngkey.com/png/full/48-480753_designs-spacecraft-png-spaceship-birds-eye-view.png");
  background-size: cover;

}

#blitz {
  width: 65px;
  height: 50px;
  position: relative;
  top: 80px;
  left: 550px;
  background-image: url("https://www.pngall.com/wp-content/uploads/12/Asteroid-Meteor-PNG.png");
  background-size: cover;
  animation: blitz 2s infinite;
}

#herz {
  width: 60px;
  height: 60px;
  position: relative;
  top: 90px;
  left: 580px;
  background-image: url(../data/game/herz.png);
  animation: herz 3s infinte;
}

@keyframes herz {
  0% {
    left: 580px;
  }

  100% {
    left: -65px;
  }
}

.background {
  background-size: cover;

}

@keyframes blitz {
  0% {
    left: 550px;
  }

  100% {
    left: -65px;
  }
}

.jump-animation {
  animation: jump 0.8s;
}

@keyframes jump {
  0% {
    top: 150px;
  }

  50% {
    top: 60px;
  }

  75% {
    top: 60px;
  }

  100% {
    top: 150px;
  }
}


@keyframes moveBg {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -600px 0;
  }
}


.death {
  background-color: red;
}