@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,700;0,800;1,300;1,800&display=swap');

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;

  background-color: #363636;
  color: white;
  padding: 0;
  margin: 0;

}


body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  /*Höhe soll 100% des Viewports sein */
}

main {
  padding: 4rem;
}


* {
  padding: 0.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;
}


h1,
h2,
h3,
h4,
h5,
p {
  margin-bottom: 0.2em;
}

.masterhead,
#masterhead,
#masterhead:visited {
  font-size: 2.8rem;
  margin: 1rem;
  color: white;
  text-decoration: none;
}

.masterh2 {
  font-size: 1.2rem;
}

.navilink {
  color: white;
  text-decoration: none;
  padding: 0.8rem;
}

.navilink:hover,
.page-activ {
  background-color: #363636;

}

.bold {
  font-weight: 500;
}

.italic {
  font-style: italic;
}

.green {
  color: #b3ffc2;
}


.small {
  font-size: 0.8rem;
}

.link {
  color: #ccebff;
}

.link:hover,
.link:focus {
  text-decoration: none;
}

.link:visited {
  color: #e4c9ff;
}

.blackbox {
  background-color: #171717;
  margin: auto;
  margin-top: 2rem;
  padding: 2rem;
  width: 562px;
}

header {
  background-color: #171717;
  margin: -1rem;
}

.flex {
  display: flex;
  flex-flow: row;
  align-items: center;
  flex-wrap: wrap;
}

footer {
  background-color: #171717;
  margin: -1rem;
  margin-top: auto;
}

.flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

/*End allgemein */


.button {
  padding: 0.7rem 1rem;
  background-color: #e3e3e3;
  color: #171717;
  border: none;
  border-radius: 15px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  width: 50%;
 
 }

.button:hover,
button:focus {
  background-color: #363636;
  color: white;
 
}


#restartbutton {display: none;}

.spiel-titel {  margin: -1.5rem 0;}

#about-game {  margin-bottom: 1rem;}

.gametitle { text-align: center; }

#score, #bonustext {
  text-align: center;
  color: white;
  display: none;
}

h1 {
  color: white;
  text-align: center;
}

#best-score { display: none;}

#highscore {
  color: white;
  text-align: center;
}

#game-over {  display: none;}

/*Game elemente*/

#game {
  width: 600px;
  height: 300px;
   margin: auto;
   position: relative;
  
   }

 #background {
  position: absolute;
  background-size: cover;
  width: 600px;
  height: 300px;
  background-image: url("https://lh3.googleusercontent.com/t8jzr310rC5obgwRHRljXVYqpVt_LwPzoBoBknYxU9QH4sDPlItjYN_IGNbDIaK6d89pVC7XxGM87-QypJ9CmgHXSA=w640-h400-e365-rj-sc0x00ffffff");
 }

.background {background-size: cover;}

.bg-animation { animation: moveBg 6.33s linear infinite;}

#thor {
  height: 75px;
  width: 75px;
  top: 225px;
  position: relative;
  background-image: url("https://www.pngkey.com/png/full/48-480753_designs-spacecraft-png-spaceship-birds-eye-view.png");
  background-size: cover;
}

.jump-animation { animation: jump 0.8s;}

#blitz {
  
  width: 50px;
  height: 50px;
  position: relative;
  top: 160px;
  left: 520px;
  background-image: url("https://www.pngall.com/wp-content/uploads/12/Asteroid-Meteor-PNG.png");
  background-size: cover;
  
}

.blitz-animation {animation: blitz 2s infinite;}

#herz {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 60px;
  left: 520px;
  background-image: url("https://www.dwds.de/normal/Herz.png");
  background-size: cover;
 
}

.herzAnimation { animation: herz1 3s infinite;}



/* Animations Keyframes*/

@keyframes blitz {
  0% {  left: 520px; }

  100% {   left: -50px; }
}


@keyframes jump {
  0% {   top: 225px; }

  50% {  top: 75px; }

  75% { top: 75px; }

  100% {top: 225px; }
}



@keyframes herz1 {
  0% { left: 520px; }

  100% { left: -65px;}
}

@keyframes herz2 {
  0% {
    left: 520px;
    top: 100px;
  }

  100% {
    left: -50px;
    top: 20px;
  }
}

@keyframes herz3 {
  0% {
    left: 520px;
    top: 100px;
  }

  100% {
    left: -50px;
    top: 0px;
  }
}


@keyframes moveBg {
  0% { background-position: 0 0;}

  100% { background-position: -600px 0;}
}

.death {background-color: red; }
.herzCollect {background-color: green;}